body {
 	padding: 0 2em;
  	font-family: Montserrat, sans-serif;
  	font: 140% Arial,Helvetica,sans-serif;
  	-webkit-font-smoothing: antialiased;
  	text-rendering: optimizeLegibility;
  	color: #444;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

#login_form {
	text-align: center;
}

input[type=text], input[type=password] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    font-size: 16px;
}

input[type=text]:focus, input[type=password]:focus {
	-moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

input[type=text]:hover, input[type=password]:hover {
	/*background: #4691A4;
	color: #000000;*/
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    border: 4px solid #8fc4d6;
}

.signin_button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
 	text-align: center;
 	text-decoration: none;
  	outline: none;
  	color: #fff;
  	background-color: #7cbde2;
  	border: none;
  	border-radius: 15px;
  	box-shadow: 0 9px #999;
}

.signin_button:hover {
	background-color: #578de5;
}

.signin_button:active {
	background-color: #578de5;
	box-shadow: 0 5px #666;
 	transform: translateY(4px);
}